*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 10px;
}
/* :root {
    --img-one

} */
.header{
    width: 100%;
    height: 100%;
    display: flex;

}
.header-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    
}
.header-avatar{
    width: 120px;
    height: 100px;
    
}

.avatar{
    width: 160px;
    height: 50px;
    margin: 10px 0 20px 10px; *

}
.menu-burger{
    margin: 10px 10px 50px;
}
.menu{
    width: 20px;
    height: 20px;
}
.title-picture{
    /* width: 100%;
    height: 100px; */
    /* background-color: #224486; */

}
.box-picture{
    width: 100%;
    height: 200px;
    position: relative;
}
.title-container{
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: center;

}
.header-text{
    color:#64529B;
    font-size:1.3rem ;
    position: absolute;
    top: 120px;
    right:100px;
    margin:50px;
}
p{
    color:#B7B7B9;
    position: absolute;
    top:190px;
    right:180px;
    font-size: 0.4rem;
    margin: 20px 20px 0 50px;
}
.box-title{

    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
.box-title-1{
    background-color: #FFF4DF;
    width:30%;
    height: 20px;
    border-radius:30px;
    display:flex;
    justify-content: center;
    align-items: center;
   margin:1px ;
}
.wrapper{
    font-size: 1rem;
    color: #FCA80F;
}
.title-content{
    width: 100%;
    height:50px;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.box-content{

    width: 100px;
    height: 50px;
    display: flex;
    margin: 10px;    
}
  
.content{
    font-size: 2.4rem;
    color:#473288;
   margin:0 5px;
}
.box-content-2{
    display: flex;
    justify-content: center;
    margin:40px ;
    /* overflow: scroll; */

}
.content-2{
    font-size: 1.3rem;
    line-height: 1.5rem;
    color:#60678C;
    width: 160px;
    height: 120px;
    display: flex;
    justify-content: center;
}
.icon-1{
    display: flex;
  justify-content: center;
}
.title-icon-1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    margin: 20px;
    color:#473288 ;
}
.box-icon-1{
    display: flex;
 justify-content: center;
 
}
.icon-content-1{
   color:#222249;
    font-size: 1.0rem;
    line-height: 1.8rem;
    display: flex;
    justify-content: center;
}
.icon-2{
    display: flex;
  justify-content: center;
  margin: 20px;
}
.title-icon-2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    margin: 20px;
    color:#473288 ;
}
.box-icon-2{
    color:#222249;
    display: flex;
 justify-content: center;
}
.icon-content-2{
    color: #224486;
    font-size: 1.0rem;
    line-height: 1.8rem;
    display: flex;
    justify-content: center;
}
/* .content-4{
    display: flex;
    justify-content: center;
} */
.icon-3{
    display: flex;
  justify-content: center;
  margin: 40px;
}
.title-icon-3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    margin: 20px;
    color:#473288 ;
}
.box-icon-3{
    color:#222249;
    display: flex;
 justify-content: center;
}
.icon-content-3{
    color: #224486;
    font-size: 1.0rem;
    line-height: 1.8rem;
    display: flex;
    justify-content: center;
}
.title-picture-1{
    display: flex;
    justify-content: center;
}
.box-picture-1{
  
    width: 60%;
    height: 200px;
    margin: 100px;
}
.box-title-2{
        width: 100%;
        height: 50px;
        margin: 0 50px;
    }
    .box-title-3{
       background-color:#FFF4DF ;
        width:30%;
        height: 20px;
        border-radius:30px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper-1{
        color: #FCA80F;
        font-size: 1rem;
     
    }
       .title_box-content{
          
           width: 150px;
           height: 50px;
           margin: 40px;
       }
         
       .content-3{
        /* background-color: #222249; */
           font-size: 2.4rem;
           color:#473288;
          margin:0 5px;
       }
       .title-box-discription{width: 100%;
        height: 200px;
        /* background-color: #FCBB84; */
        margin: 30px;

       }
    .title-discription-2{
        width: 250px;
        height: 200px;
        margin:20px ;
        color:#3D5264;
        font-size: 1.5rem;
        line-height: 2.0rem;
        /* background-color:greenyellow ; */
    }
    .title-discription-3{
        width: 100%px;
        height: 80px;
        margin: 20px 0 ;
        color:#3D5264;
        font-size: 1.5rem;
        line-height: 2.0rem;
    }
    .box-title-4{
        /* background-color: #8e80b6; */
        width: 100%;
    }
    .box-title-5{
        background-color: #FFF4DF;
        width:30%;
        height: 20px;
        border-radius:30px;
        margin: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper-2{
        color: #FCA80F;
        font-size: 1rem;
    }
    .box-content-number{
        width: 100%;
        height:450px;
        /* background-color: darkolivegreen; */
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    .content-number{
        width: 80%;
        height: 450px;
        background-color: #372B7D;
        border-radius: 8%;
    }
    .content-number-1{
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        margin: 20px;
        color: #FFFFFF;
        font-size: 4.0rem;
    }
    .discribtion-number{
        display: flex;
        justify-content: center;
        color: #F5A820;
        font-size: 2.0rem;
    }
    .content-number-2{
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        margin: 20px;
        color: #FFFFFF;
        font-size: 4.0rem;
    }
    .discribtion-number-1{
        display: flex;
        justify-content: center;
        color: #F5A820;
        font-size: 2.0rem;
    }
    .content-number-3{
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        margin: 20px;
        color: #FFFFFF;
        font-size: 4.0rem;
    }
    .discribtion-number-2{
        display: flex;
        justify-content: center;
        color: #F5A820;
        font-size: 2.0rem;
    }
    .content-number-4{
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        margin: 20px;
        color: #FFFFFF;
        font-size: 4.0rem;
    }
    .discribtion-number-3{
        display: flex;
        justify-content: center;
        color: #F5A820;
        font-size: 2.0rem;
    }
/* //tablet */
@media (min-width: 1080px){

    .header__container{
        /* width: 100%;
        /* height: auto; */
        background-color: rgb(72, 74, 77);
        display: flex;
        justify-content: space-between; */
    }
    .header-avatar{
      
        width: 200px;
    }
    .avatar{
        width: 120px;
        height: 60px;
        margin: 20px 20px;
    }
    .menu-burger{
        display: flex;
       margin: 70px 220px;
    }
    .menu{
        width: 40px;
        height: 40px;
    }
    .title-picture{
        width: 100%;
        height: 50%; */
    }

.box-picture{
    width: 100%;
    height: 440px;
}

.header-text  {
    /* color:#64529B;
    font-size:4.1rem ;
    position: absolute; */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: start;  */

    /* top: 100px;
    right:600px;
    margin:80px; */
   
}
p{
    /* color:#473288;
    position: absolute;
    top:180px;
    right:180px;
    font-size: 1.5rem;
    margin: 120px 400px 0 80px */
}
.box-title{

    /* width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px; */
    
}
.box-title-1{
    /* background-color: #FFF4DF;
    width:120px;
    height: 30px;
    border-radius:30px;
    display:flex;
    justify-content: center;
    align-items: center;
   margin:1px ; */
}
.wrapper{
    /* font-size: 1.5rem;
    color: #FCA80F; */
}
.title-content{
    /* background-color: #FCA80F;
    width: 100%;
    height:60px;
    display: flex;
    justify-content: center;
    margin: 10px; */
}
.box-content{
    /* background-color: #3D5264; */

    /* width: 600px;
    height: 50px;
    display: flex;     */
}
  
.content{
    /* background-color: brown; */
    /* width: 600px;
    font-size: 4.1rem;
    color:#473288;
    display: flex;
    justify-content: center; */
}
.box-content-2{
   /* background-color: #473288;
   width: 100%;
   height: 50px;
    display: flex;
    justify-content: center;
    margin:20px ; */
    /* overflow: scroll; */

}
